<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>I&apos;m Tu You</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>热爱设计</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>因为</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>apple</string>
		<key>words</key>
		<string></string>
		<key>labelType</key>
		<string></string>
		<key>imageName</key>
		<string>Apple</string>
		<key>duration</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>一直玩 iOS</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>爱逛 GitHub 有时 Contribute...</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>26</integer>
		<key>duration</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>Top 3 @GitHub Objective-C Trending Developers</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>duration</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string></string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string>Trending</string>
		<key>fontSize</key>
		<integer>24</integer>
		<key>duration</key>
		<real>2.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>An App</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>27</integer>
		<key>duration</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>An App, A World</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>27</integer>
		<key>morphaLabelType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>喜欢的 App</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>豆瓣</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>douban</string>
		<key>color</key>
		<string>#09B513</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>知乎</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>zhihu</string>
		<key>color</key>
		<string>#0084F6</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>Instagram</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Instagram</string>
		<key>color</key>
		<string>#FD2574</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>蚂蜂窝</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>mafengwo</string>
		<key>color</key>
		<string>#FFC413</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>Airbnb</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Airbnb</string>
		<key>color</key>
		<string>#FF4E6F</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>微信读书</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>weread</string>
		<key>color</key>
		<string>#21A1FF</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>豆果美食</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>douguo</string>
		<key>color</key>
		<string>#E8660D</string>
		<key>duration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>当然还有</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>抖音</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>douyin</string>
		<key>color</key>
		<string>#000000</string>
		<key>appType</key>
		<string>shake</string>
		<key>duration</key>
		<real>2.2</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>喜欢旅游</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>travel</string>
		<key>words</key>
		<string>Phuket Island</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Phucket</string>
		<key>travelType</key>
		<string>bottom</string>
		<key>duration</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>travel</string>
		<key>words</key>
		<string>Abu Dhabi</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Dubai</string>
		<key>travelType</key>
		<string>bottom</string>
		<key>duration</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>travel</string>
		<key>words</key>
		<string>The Palm Jumeirah</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Island</string>
		<key>travelType</key>
		<string>bottom</string>
		<key>duration</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>travel</string>
		<key>words</key>
		<string>Umeda Sky Building</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>sunset</string>
		<key>travelType</key>
		<string>top</string>
		<key>duration</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>travel</string>
		<key>words</key>
		<string>Hogwarts @ Universal Studio</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Hogwarts</string>
		<key>travelType</key>
		<string>top</string>
		<key>duration</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>travel</string>
		<key>words</key>
		<string>Gardens by the Bay</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>Bay</string>
		<key>travelType</key>
		<string>center</string>
		<key>duration</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>爱做饭</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string>牛奶雪花糕</string>
		<key>labelType</key>
		<string></string>
		<key>imageName</key>
		<string>desert</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string>辣子鸡丁</string>
		<key>labelType</key>
		<string></string>
		<key>imageName</key>
		<string>chicken</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string>避风塘黄油煎鸡翅</string>
		<key>labelType</key>
		<string></string>
		<key>imageName</key>
		<string>wings</string>
		<key>color</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>爱看老友记, 最爱 Pixar, 有时看科幻</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>duration</key>
		<real>2.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string>Friends</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string>friends</string>
		<key>color</key>
		<string>#000000</string>
		<key>offset</key>
		<integer>-40</integer>
		<key>duration</key>
		<real>1.2</real>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string>Pixar</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string>Pixar</string>
		<key>color</key>
		<string>#000000</string>
		<key>offset</key>
		<integer>-40</integer>
		<key>duration</key>
		<real>1.2</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>喜欢写字 看电影 看书与冒险</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>duration</key>
		<real>1.6</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>Adventure is out there.             -- &quot;Up&quot;</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>duration</key>
		<real>2.2</real>
		<key>alignment</key>
		<string>right</string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>加入抖音，创造并记录生活的美好!</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>duration</key>
		<integer>22</integer>
	</dict>
</array>
</plist>
