<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>大家好</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>我们</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>我们是</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>抖音</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>抖音 iOS 团队</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>morphaLabelType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>我们喜欢</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>morphaLabelType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>apple</string>
		<key>words</key>
		<string></string>
		<key>labelType</key>
		<string></string>
		<key>imageName</key>
		<string>Apple</string>
		<key>duration</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>热爱</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>morphaLabelType</key>
		<integer>1</integer>
		<key>duration</key>
		<string>2</string>
	</dict>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>words</key>
		<string>抖音</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>douyin</string>
		<key>color</key>
		<string>#000000</string>
		<key>appType</key>
		<string>shake</string>
		<key>duration</key>
		<real>2.2</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>我们也是一群</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>34</integer>
		<key>morphaLabelType</key>
		<string>2</string>
		<key>duration</key>
		<real>1.2</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>豆芽</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>34</integer>
		<key>morphaLabelType</key>
		<integer>3</integer>
		<key>duration</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>cook</string>
		<key>words</key>
		<string>iOS@抖音</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string>douyin-iOS</string>
		<key>travelType</key>
		<string>bottom</string>
		<key>offset</key>
		<integer>-45</integer>
		<key>duration</key>
		<real>1.8</real>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>请多多指教</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>32</integer>
		<key>morphaLabelType</key>
		<integer>1</integer>
		<key>duration</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>另外</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>32</integer>
		<key>duration</key>
		<integer>1</integer>
		<key>morphaLabelType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>另外 欢迎你</string>
		<key>labelType</key>
		<string>morpha</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>32</integer>
		<key>duration</key>
		<string>1.35</string>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>加入抖音，创造并记录生活的美好!</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>duration</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>piece</string>
		<key>words</key>
		<string>aweios@bytedance.com</string>
		<key>labelType</key>
		<string>normal</string>
		<key>imageName</key>
		<string></string>
		<key>fontSize</key>
		<integer>28</integer>
		<key>duration</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
